<h1>Deputies#index</h1>
<p>Find me in app/views/deputies/index.html.erb</p>

<% if @deputies.any? %>
	<table>
		<thead>
			<th>
				Nome
			</th>
			<th>
				Identificador
			</th>
			<th>
				CPF
			</th>
			<th>
				Partido
			</th>
			<th>
				Estado
			</th>
		</thead>
		<tbody>
			<% @deputies.each do |deputy| %>
				<tr>
					<td>
						<%= link_to deputy.name, deputies_show_path(deputy) %>
					</td>
					<td>
						<%= deputy.deputy_id %>
					</td>
					<td>
						<%= deputy.cpf_format %>
					</td>
					<td>
						<%= deputy.party %>
					</td>
					<td>
						<%= deputy.federal_unity.upcase %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	NENHUM DEPUTADO NA BASE DE DADOS
<% end %>