<h1>Deputados</h1>
<p>Aqui estão listados os deputados inclusos no arquivo que foi submetido por você. Clicando no nome de um deputado, você irá para a página do mesmo, onde contêm mais informações sobre os gastos parlamentares relacionados</p>

<% if @deputies.any? %>
	<table class="table table-dark table-striped table-hover">
		<thead>
			<th>
				Nome
			</th>
			<th>
				Identificador
			</th>
			<th>
				CPF
			</th>
			<th>
				Partido
			</th>
			<th>
				Estado
			</th>
		</thead>
		<tbody>
			<% @deputies.each do |deputy| %>
				<tr>
					<td>
						<%= link_to deputy.name, deputies_show_path(deputy) %>
					</td>
					<td>
						<%= deputy.deputy_id %>
					</td>
					<td>
						<%= deputy.cpf_format %>
					</td>
					<td>
						<%= deputy.party %>
					</td>
					<td>
						<%= deputy.federal_unity.upcase %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	NENHUM DEPUTADO NA BASE DE DADOS
<% end %>