
<% if @deputy.nil? %>
  NENHUM POLÍTICO COM ESSA IDENTIFICAÇÃO
<% else %>
  <h2><%= @deputy.name.upcase %></h2>
  <div class="row">
		<div class="col-2">
			<%= image_tag("https://www.camara.leg.br/internet/deputado/bandep/#{@deputy.deputy_id}.jpg", alt: "Sem Foto", size: "114x152") %>
		</div>
		<div class="col">
			<p><b>Identificação:</b> <%= @deputy.deputy_id %></p>
			<p><b>CPF:</b> <%= @deputy.cpf_format %></p>
			<p><b>Afiliação Partidária:</b> <%= @deputy.party %></p>
			<p><b>Estado:</b> <%= @deputy.federal_unity.upcase %></p>
		</div>
	</div>
  <hr>
  <h2>Informações sobre despesas</h2>
	<div class="row">
		<div class="col">
			<p><b>Não compensadas: </b><%= to_real @invoices[:normal] %></p>
			<p><b>Compensações: </b><%= to_real @invoices[:compensations] %></p>
			<p><b>Total: </b><%= to_real @invoices[:normal] + @invoices[:compensations] %></p>
			<p><b>Valor da maior despesa: </b><%= to_real @deputy.most_expensive_invoice %></p>
		</div>
		<div class="col">
			<p><b>Média mensal (Inclui compensações): </b><%= to_real @invoices[:mean_by_month] %></p>
			<p><b>Quantidade total de gastos: </b><%= @invoices[:invoices_quantity] %></p>
			<p><b>Gastos com notas não apresentadas: </b><%= @invoices[:without_url] %></p>
			<p><b>Total gasto com notas não apresentadas: </b><%= to_real @invoices[:expenses_without_url] %></p>
		</div>
	</div>  
  <br>

	<div class="row">
		<div class="col-6">
			<canvas id="spent_by_month" width="400" height="400"></canvas>
		</div>
		<div class="col-6">
			<canvas id="spent_by_month_pie" width="400" height="400"></canvas>
		</div>
	</div>
	<script>
		var ctx = document.getElementById('spent_by_month');
		var expenses_by_month = (<%= @invoices[:months] %>);
		expenses_by_month.push( <%= @invoices[:without_date] %> );
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
					labels: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez', 'Sem Data'],
					datasets: [{
						label: 'Valor gasto',
						afterLabel: 'R$',
						data: expenses_by_month,
						backgroundColor: [
								'rgba(255, 99, 132, 0.2)',
								'rgba(54, 162, 235, 0.2)',
								'rgba(255, 206, 86, 0.2)',
								'rgba(75, 192, 192, 0.2)',
								'rgba(153, 102, 255, 0.2)',
								'rgba(255, 159, 64, 0.2)',
								
								'rgba(255, 99, 132, 0.2)',
								'rgba(54, 162, 235, 0.2)',
								'rgba(255, 206, 86, 0.2)',
								'rgba(75, 192, 192, 0.2)',
								'rgba(153, 102, 255, 0.2)',
								'rgba(255, 159, 64, 0.2)',

								'rgba(255, 99, 132, 0.2)'
						],
						borderColor: [
								'rgba(255, 99, 132, 1)',
								'rgba(54, 162, 235, 1)',
								'rgba(255, 206, 86, 1)',
								'rgba(75, 192, 192, 1)',
								'rgba(153, 102, 255, 1)',
								'rgba(255, 159, 64, 1)',

								'rgba(255, 99, 132, 1)',
								'rgba(54, 162, 235, 1)',
								'rgba(255, 206, 86, 1)',
								'rgba(75, 192, 192, 1)',
								'rgba(153, 102, 255, 1)',
								'rgba(255, 159, 64, 1)',

								'rgba(255, 99, 132, 1)'
						],
						borderWidth: 1
					}
				]
			},
			options: {
				scales: {
					y: {
							beginAtZero: true
					}
				},
				plugins: {
					tooltip: {
							callbacks: {
									label: function(context) {
											var label = context.dataset.label || '';

											if (label) {
													label += ': ';
											}
											if (context.parsed.y !== null) {
													label += new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(context.parsed.y);
											}
											return label;
									}
							}
					}
				}
			}
		});


		var pie_graph = document.getElementById('spent_by_month_pie');
		var pieChart = new Chart(pie_graph, {
			type: 'bar',
			data: {
					labels: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez', 'Sem Data'],
					datasets: [{
						label: 'Valor gasto',
						afterLabel: 'R$',
						type: 'doughnut',
						data: expenses_by_month,
						backgroundColor: [
								'rgba(255, 99, 132, 0.2)',
								'rgba(54, 162, 235, 0.2)',
								'rgba(255, 206, 86, 0.2)',
								'rgba(75, 192, 192, 0.2)',
								'rgba(153, 102, 255, 0.2)',
								'rgba(255, 159, 64, 0.2)',
								
								'rgba(255, 99, 132, 0.2)',
								'rgba(54, 162, 235, 0.2)',
								'rgba(255, 206, 86, 0.2)',
								'rgba(75, 192, 192, 0.2)',
								'rgba(153, 102, 255, 0.2)',
								'rgba(255, 159, 64, 0.2)',

								'rgba(255, 99, 132, 0.2)'
						],
						borderColor: [
								'rgba(255, 99, 132, 1)',
								'rgba(54, 162, 235, 1)',
								'rgba(255, 206, 86, 1)',
								'rgba(75, 192, 192, 1)',
								'rgba(153, 102, 255, 1)',
								'rgba(255, 159, 64, 1)',

								'rgba(255, 99, 132, 1)',
								'rgba(54, 162, 235, 1)',
								'rgba(255, 206, 86, 1)',
								'rgba(75, 192, 192, 1)',
								'rgba(153, 102, 255, 1)',
								'rgba(255, 159, 64, 1)',

								'rgba(255, 99, 132, 1)'
						],
						borderWidth: 1,
						hoverOffset: 20
					}
				]
			},
			options: {
				plugins: {
					tooltip: {
						callbacks: {
							label: function(context) {
								var label = context.dataset.label || '';

								if (label) {
									label += ': ';
								}
								if (context.parsed.y !== null) {
									label += new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(context.parsed.y);
								}
								return label;
							}
						}
					}
				}
			}
		});
	</script>


	<h2>Despesas</h2>
	<% if @deputy.invoices.blank? %>
		NENHUMA DESPESA CADASTRADA
	<% else %>
		<table class="table table-dark table-striped table-hover">
			<thead>
				<th>
					Descrição
				</th>
				<th>
					Fornecedor
				</th>
				<th>
					Tipo do Documento
				</th>
				<th>
					Data de Emissão
				</th>
				<th>
					Valor Líquido
				</th>
				<th>
					Link da Nota
				</th>
			</thead>
			<tbody>
				<% @deputy.invoices.order(:issue_date).each do |invoice| %>
					<tr>
						<td>
							<%= invoice.description %>
						</td>
						<td>
							<%= invoice.seller %>
						</td>
						<td>
							<%= invoice.translate_kind %>
						</td>
						<td>
							<%= invoice.issue_date.nil? ? invoice.issue_date : invoice.issue_date.strftime("%d/%m/%Y") %>
						</td>
						<td>
							<%= to_real invoice.value %>
						</td>
						<td>
							<%= invoice.url.blank? ? "Não Apresentada" : (link_to "Nota", invoice.url, target: "_blank") %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
<% end %>