
<% if @deputy.nil? %>
  NENHUM POLÍTICO COM ESSA IDENTIFICAÇÃO
<% else %>
  <h2><%= @deputy.name %></h2>
  <%= image_tag("https://www.camara.leg.br/internet/deputado/bandep/#{@deputy.deputy_id}.jpg", alt: "Sem Foto") %>
  <br>
	<%= @deputy.deputy_id %>
  <br>
	<%= @deputy.cpf_format %>
  <br>
	<%= @deputy.party %>
  <br>
	<%= @deputy.federal_unity.upcase %>
	<br>
  <hr>
  <h2>Despesas</h2>
  <p>Não compensadas: <%= to_real @invoices[:normal] %></p>
  <p>Compensações: <%= to_real @invoices[:compensations] %></p>
  <p>Total: <%= to_real @invoices[:normal] + @invoices[:compensations] %></p>
  <p>Valor da maior despesa: <%= to_real @deputy.most_expensive_invoice %></p>
  <p>Média mensal (Inclui compensações): <%= to_real @invoices[:mean_by_month] %></p>
	<p>Quantidade total de gastos: <%= @invoices[:invoices_quantity] %></p>
	<p>Gastos sem nota fiscal: <%= @invoices[:without_url] %></p>
	<p>Total gasto sem nota fiscal: <%= to_real @invoices[:expenses_without_url] %></p>
  <table>
		<thead>
			<th>
				Descrição
			</th>
			<th>
				Descrição Completa
			</th>
			<th>
				Fornecedor
			</th>
      <th>
				Tipo do Documento
			</th>
      <th>
				Data de Emissão
			</th>
      <th>
				Valor Líquido
			</th>
			<th>
				Link da Nota
			</th>
		</thead>
		<tbody>
			<% @deputy.invoices.order(:issue_date).each do |invoice| %>
				<tr>
					<td>
						<%= invoice.description %>
					</td>
					<td>
						<%= invoice.specific_description %>
					</td>
					<td>
						<%= invoice.seller %>
					</td>
					<td>
						<%= invoice.translate_kind %>
					</td>
					<td>
						<%= invoice.issue_date.nil? ? invoice.issue_date : invoice.issue_date.strftime("%d/%m/%Y") %>
					</td>
          <td>
						<%= to_real invoice.value %>
					</td>
					<td>
						<%= invoice.url.blank? ? "Inexistente" : (link_to "Nota", invoice.url, target: "_blank") %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>